* {
  box-sizing: border-box;
}

/* Palette URL: http://paletton.com/#uid=33T0u0knTyAd+NajqEPt-vevfo9 */

.color-primary-0 { color: #3F52B5 }	/* Main Primary color */
.color-primary-1 { color: #8895DC }
.color-primary-2 { color: #5E6EC7 }
.color-primary-3 { color: #2137AA }
.color-primary-4 { color: #132584 }

.color-secondary-1-0 { color: #FFE641 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FFF190 }
.color-secondary-1-2 { color: #FFEB64 }
.color-secondary-1-3 { color: #F9DB13 }
.color-secondary-1-4 { color: #C0A805 }

.color-secondary-2-0 { color: #FFA441 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFCA90 }
.color-secondary-2-2 { color: #FFB564 }
.color-secondary-2-3 { color: #F98B13 }
.color-secondary-2-4 { color: #C06605 }

img {
  /* constrain all images to size of container */
  max-width: 100%;
  max-height: 100%;
}

div#continue {
  clear: both;
}

#featureBar {
  background-color: #3F51B5;
  color: #ffffff;
  padding: 10px;
  font-family: "Helvetica Neue", sans-serif;
  background-image: url("images/TitleBar.png");
  background-position: right top;
  background-repeat: no-repeat;
  /* width: 800px; */
  height: 175px;
}
#intro {
  font-size: 20px;
}
#nextLessonTitle {
  font-size: 40px;
}
#lessons {
  margin: 30px;
}

#audio-box {
  border: 2px solid black;
}

.picture-word-box {
  border: 2px solid black;
  width: 200px;
  padding: 2px;
  margin: 4px;
  float: left;
}

.word-drop {
  border: 2px solid black;
  width: 192px;
  height: 50px;
  padding: 2px;
}

.picture-word-box > .picture-div {
  /* border: 2px solid black; */
  width: 192px;
  height: 192px;
  padding: 2px;
}

#word-corral {
  border: 2px solid black;
  min-height: 40px;
  min-width: 300px;
  clear:both;
  display: inline-block;
}

.draggable-word {
  /* border: 2px solid black; */
  width: 150px;
  height: 40px;
  padding: 2px;
  margin: 3px;
  background-color: #6c7ac7;
  color: #FFFFFF;
  float:left;
  /* clear:both; */
}

#translation {
  border: 2px solid black;
  min-height: 40px;
  min-width: 300px;
  clear:both;
  display: inline-block;
}

.clickable-word {
  background-color: #C6CDF2;
  margin-right: 3px;
}

#progress {
    width: 100%;
    background-color: lightgrey;
}
#bar {
    width: 1%;
    height: 10px;
    background-color: #6c7ac7;
}
