<div id="exerciseContent">
  <phoneme-component
    ng-if="ctrl.exercise.type === 'PHONEME'"
    exercise="ctrl.exercise">
  </phoneme-component>
  <record-exercise-component
    ng-if="ctrl.exercise.type === 'RECORD'"
    exercise="ctrl.exercise">
  </record-exercise-component>
  <word-to-picture-component
    ng-if="ctrl.exercise.type === 'WORD-TO-PICTURE'"
    exercise="ctrl.exercise"
    user-action="ctrl.onUserAction(dirty, correct, message)">
  </word-to-picture-component>
  <translate-with-words-component
    ng-if="ctrl.exercise.type === 'TRANSLATE-WORDS'"
    exercise="ctrl.exercise"
    user-action="ctrl.onUserAction(dirty, correct, message)">
  </translate-with-words-component>
</div>

<div ng-if="ctrl.feedbackVisible()">
  <feedback-component
    is-correct="ctrl.isCorrect"
    message="ctrl.message">
  </feedback-component>
</div>

<div>
  <button id="check-button"
    ng-click="ctrl.doCheck()"
    ng-disabled="ctrl.checkDisabled()"
    ng-if="ctrl.checkVisible()"
    class="checkButton"
    >Check</button>
  <button id="continue-button"
    ng-click="ctrl.doneExercise()"
    ng-disabled="ctrl.continueDisabled()"
    ng-if="ctrl.continueVisible()"
    class="continueButton"
    >Continue</button>
</div>

<!-- debug block -->
<!-- <ul>
  <li ng-repeat="(key, value) in ctrl">{{key}}: {{value}}</li>
</ul> -->
