<!-- page header: letter + pronunciation symbol -->
<div id="letter">{{ctrl.exercise.letter}}</div>
<div id="phoneticSymbol">{{ctrl.exercise.phoneticSymbol}}</div>

<!-- sample word -->
<div id="audio-box">
  <div id="oeWord">{{ctrl.exercise.sampleWordOE}}</div>
  <div id="modWord">({{ctrl.exercise.sampleWordModE}})</div>
  <div>
    <font color="red">audio control 3 (call playExample()):</font><br>
    <button ng-click="ctrl.playExample()">Play</button>
  </div>
</div>

<div id="description">{{ctrl.exercise.description}}</div>

<img id="picture" height="200px" ng-src="{{ctrl.imageUrl}}"></img>
