<div id="instructions">
  Read this aloud:
</div>

<!-- sample word -->
<div>
  <sample-player-component
    url="ctrl.sampleAudioUrl"
    oe-word="ctrl.exercise.oeWord"
    me-word="ctrl.exercise.modeWord">
  </sample-player-component>
</div>

<div>
  <record-playback-component
    enable-continue="ctrl.enableContinue(enable)">
  </record-playback-component>
</div>

<!-- Debug Block -->
<!-- <div>
  ctrl:
  <ul>
    <li ng-repeat="(key, value) in ctrl">{{key}}: {{value}}</li>
  </ul>
  ctrl.exercise:
  <ul>
    <li ng-repeat="(key, value) in ctrl.exercise">{{key}}: {{value}}</li>
  </ul>
</div> -->
