<div id="instructions">
  Read this aloud:
</div>

<!-- sample word -->
<div>
  <sample-player-component
    url="ctrl.sampleAudioUrl"
    oe-word="ctrl.exercise.oeWord"
    me-word="ctrl.exercise.modeWord">
  </sample-player-component>
</div>

<div><!-- TODO should this be a component? -->
  <button id="record-button" ng-click="ctrl.toggleRecord()">{{ctrl.recordButtonText}}</button>
  <button id="play-button" ng-click="ctrl.playRecording()">Play Recording</button>
</div>

<div>
  <record-playback-component></record-playback-component>
</div>

<!-- Debug Block -->
<!-- <div>
  Exercise Data:
  <ul>
    <li ng-repeat="(key, value) in ctrl.exercise">{{key}}: {{value}}</li>
  </ul>
</div> -->
