<img ng-if="ctrl.state=='READY'" ng-src="{{ctrl.micImage}}" ng-click="ctrl.startRecording()"></img>
<img ng-if="ctrl.state=='RECORDING'" ng-src="{{ctrl.activeMicImage}}" ng-click="ctrl.stopRecording()"></img>
<img ng-if="ctrl.state=='DONE'" ng-src="{{ctrl.speakerImage}}" ng-click="ctrl.startPlayback()"></img>
<img ng-if="ctrl.state=='LISTENING'" ng-src="{{ctrl.activeSpeakerImage}}" ng-click="ctrl.stopPlayback()"></img>

<!-- <button ng-click="ctrl.changeState()">{{ctrl.state}}</button> -->
<button ng-click="ctrl.tryAgain()" ng-if="ctrl.state=='DONE'">TRY AGAIN</button>
