<div>
  Drag the word to the correct picture.
</div>

<div class="picture-word-box" ng-repeat="q in ctrl.questions">
  <div class="picture-div">
    <image ng-src="{{q.imageUrl}}"></image>
  </div>
  <div id="drop-{{q.id}}"
    wordid="{{q.id}}"
    class="word-drop"
    ondrop="angular.element(this).scope().drop(event)"
    ondragover="angular.element(this).scope().allowDrop(event)">
  </div>
</div>
<br>
<div id="word-corral"
  ondrop="angular.element(this).scope().drop(event)"
  ondragover="angular.element(this).scope().allowDrop(event)">
  <div
    id="word-{{a.id}}"
    wordid={{a.id}}
    class="draggable-word"
    ng-repeat="a in ctrl.answers"
    draggable="true"
    ondragstart="angular.element(this).scope().drag(event)">
    {{a.text}}
  </div>
</div>

<!-- debug block -->
<!-- <ul>
  <li ng-repeat="(key, value) in ctrl">{{key}}: {{value}}</li>
</ul> -->
