<!-- <script>
function drag(event) {
  console.log("drag event", ev);
    ev.dataTransfer.setData("text", ev.target.id);
}
</script> -->
<div>
  Drag the word to the correct picture.
</div>

<div class="picture-word-box" ng-repeat="p in ctrl.pictures">
  <image ng-src="{{p.url}}"></image>
  <div id="drop-{{$index}}"
    class="word-drop"
    ondrop="angular.element(this).scope().drop(event)"
    ondragover="angular.element(this).scope().allowDrop(event)">
  </div>
  <!-- todo will need explicit index if we randomize pictures -->
</div>

<div id="word-corral"
  ondrop="angular.element(this).scope().drop(event)"
  ondragover="angular.element(this).scope().allowDrop(event)">
  <div
    id="word-{{$index}}"
    class="draggable-word"
    ng-repeat="w in ctrl.words"
    draggable="true"
    ondragstart="angular.element(this).scope().drag(event)">
    {{w}}
  </div>
</div>

<!-- debug block -->
<!-- <ul>
  <li ng-repeat="(key, value) in ctrl">{{key}}: {{value}}</li>
</ul> -->
